---
layout: default
title: About Me
---

<div class="flex flex-col items-center text-lg">
    {% if author.avatar %}
    <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">
        <img class="w-32 h-32 md:w-40 md:h-40 rounded-full" src="{{ author.avatar | url }}" width="128" height="128" alt="Author avatar">
    </a>
    {% endif %}
    <div class="text-center mt-8">
        <h1 class="text-2xl font-medium text-gray-800 leading-relaxed mt-0 mb-1 hover:underline">
            <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a>
        </h1>
        {% if author.email %}
        <div class="text-gray-600">
            <a class="hover:underline" href="mailto:{{ author.email }}">{{ author.email }}</a>
        </div>
        {% endif %}
        {% if author.phone %}
        <div class="text-gray-600 hover:underline">
            <a href="tel:{{ author.phone }}">{{ author.phone }}</a>
        </div>
        {% endif %}
        {% if author.bio %}
        <p class="mt-3 text-gray-700">{{ author.bio }}</p>
        {% endif %}
        {% if author.resume %}
            <a class="mt-3 text-gray-700 hover:underline" href="{{ author.resume | url }}" target="_blank" rel="noopener">Resume</a>
        {% endif %}
        {% if author.socials %}
        <div class="flex my-2 justify-center">
            {% if author.socials.mastodon %}
                <a href="{{ author.socials.mastodon | url }}" target="_blank" rel="noopener"><img width="32" class="mx-2" src='/assets/img/mastodon-logo.png'></a>
            {% endif %}
            {% if author.socials.github %}
                <a href="{{ author.socials.github | url }}" target="_blank" rel="noopener"><img class="mx-2" width="32" src='/assets/img/gh-logo.png'></a>
            {% endif %}
            {% if author.socials.youtube %}
                <a href="{{ author.socials.youtube | url }}" target="_blank" rel="noopener"><img class="mx-2" width="32" src='/assets/img/yt-logo.png'></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>