<footer class="mt-20 px-10 py-6 bg-gray-200">
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
        © 2021 <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a>. 
        Made from a fork of <a href="https://github.com/dafiulh" target="_blank" rel="noopener">Dafiul Haq's</a> <a href="https://github.com/dafiulh/vredeburg" target="_blank" rel="noopener">Vredeburg</a> by <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a> 
        using <a href="https://www.11ty.dev" target="_blank" rel="noopener">Eleventy</a> and <a href="https://tailwindcss.com" target="_blank" rel="noopener">Tailwind CSS</a>.
    </div>
</footer>